html {
	background-image: linear-gradient(#ffd89b,#19547b);
}

.title
 {
	font-family     : 'Oxanium', cursive;
	
	/*line-height: 0*/;
	color 			: white;
	text-align 		: center;
	font-size 		: 100px;
	bottom          : 5%
	font-weight 	: bolder;
 
}

.inputFeilds {
	position: fixed;
	left: 0;
	bottom: 3%;
	height: 1%;
	width: 100%;
	color: white;
}

.songtitle
{
	text-align 	: center;
	color       : white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.014em;
	font-weight: 600;
	font-size: 39px;
	top: 20%;
}

.space
{
	font-size: 25px;
}

.tryingscroll{
	width: 2px;
	height: 1px;
	overflow-y : scroll;
}

#bjAudio{	
	top   :  15%;
}

#output{
	background-color:  ;
	opacity:  0.5;
}

#handle{
	
}