html {
	height: 100%;
	background-image: linear-gradient( 180DEG, #ffd89b,#19547b);
}

.title
 {
	font-family     : 'Oxanium', cursive;
	color 			: white;
	text-align 		: left;
	font-size 		: 31px;
	bottom          : 5%;
	font-weight 	: bolder;
	top             : 20%;
	float           : left;
}

.inputFeilds {
	position: fixed;
	left: 0;
	bottom: 7%;
	height: 1%;
	width: 100%;
	color: white;
	border-radius: 10px; 
}

.songtitle
{
	text-align 	   : center;
	color          : white;
	font-family    : 'Montserrat', sans-serif;
	letter-spacing : 0.014em;
	font-weight    : 600;
	font-size      : 29px;
	top            : 20%;
}

.space
{
	font-size: 25px;
}

.tryingscroll{
	width: 2px;
	height: 1px;
	overflow-y : scroll;
}

#bjAudio{	
	top   :  15%;
}

#output{
	background-color: grey ;
	opacity:  0.5;
}

.logobj{
	width: 45%;
	
	padding-bottom: 150px;
}

.Row {
    display: table;
    }
.Column {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    }